body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    border: orange solid;
}
#header, .header-links {
display: flex;
flex: 1;
border: pink solid;
justify-content: space-around;
align-items: center;
}

#header {
    border: blue solid;
}